*{
    margin: 0;
    padding: 0;
}
body {
    max-height: 100vh;
    margin: 0 auto;
    padding: 0px 0px;
    max-width: 100%;
    background: #e8e8e8;
}
button,input,select {
    cursor: pointer;
}