.search__content {
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    background: #e8e8e8;
}
.search__header {
    max-width: 100%;
    height: 100px;
    background: red;
}
.search-form {
    text-align: right;
    padding: 50px 0px 0px 100px;
}